@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models; 
<h2>Order Details</h2>
<h3>Vendor Name : @Model["vendor"].GetName()</h3>
<h3>Orders on @Model["order"].GetDate()</h3>

  @foreach(KeyValuePair<Bakery,int> item in @Model["order"].GetBakery())
  {
    <h4>@item.Key.GetName() cupcake, Quantities: @Order.Quantities, Price $@item.Value</h4>
  }

<br>
<p><a href='/vendors/@Model["vendor"].GetId()/orders/new'>Add a new order for @Model["vendor"].GetName()</a></p>